<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  padding: 0px;
}

.cell {
  height: 100px;
  text-align: right;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid #000000;
  display: block;
  padding: 10px;
}
.row {
  align-content: center;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

<h2>Math Problems</h2>

<div class="row">
    {{#each .}}
      <div class="column">
        {{#each .}}
          <span class="cell">
            {{!-- {{firstNumber}} {{operator}} {{secondNumber}} <br> --}}
            <div >{{firstNumber}}</div>
            <div >{{operator}} {{secondNumber}}</div>
            <hr>
            <br>
            <hr>
          </span>
        {{/each}}
      </div>    
    {{/each}}
</div>

</body>
</html>
